.git
.vscode
.env
.ipynb_checkpoints
.code
.astro
Cleandata.ipynb
airflow_settings.yaml
astro
main.py
config.yaml
__pycache__
airflow_lab.py
airtask.py
example_dag_advanced.py
example_dag_basic.py
hookfunction.py
hookexample.py
/tests
Dockerfile
.dockerignore
packages.txt
docker-compose.yml
docker-compose.override.yml
logging.conf
dac.cfg
/logs
webserver_config.py
airflow.cfg
S3update_dag.py
config_bre.yaml
config_etl.yaml
template_dag.jinja2
.\Skill-Up-DA-c-PythonG1\.env

/dags_dynamic/.
./dags/dags_factory
.po.py
nuevo.py
coco.py
po.py
GAUNVillaMaria_dag_etl.py


