.git
# .env
.code
.astro

airflow_settings.yaml
astro
main.py
__pycache__
airflow_lab.py
airtask.py
example_dag_advanced.py
example_dag_basic.py
hookfunction.py
hookexample.py
/tests
Dockerfile
.dockerignore
packages.txt
docker-compose.yml
docker-compose.override.yml
logging.conf
dac.cfg